* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* -main-color: hotpink; */
  /* --pane-padding: 5px 42px; */
  --dark-blue: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
  --very-dark-blue1: hsl(207, 26%, 17%); /* (Dark Mode Background) */
  --very-dark-blue2: hsl(200, 15%, 8%); /* (Light Mode Text) */
  --dark-gray: hsl(0, 0%, 52%); /* (Light Mode Input) */
  --very-light-gray: hsl(0, 0%, 98%); /* (Light Mode Background) */
  --white: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
  --fs-home: 0.9rem;
  --fs-detail: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.container {
  width: 90%;
  margin-inline: auto;
}

body {
  background: var(--very-light-gray);
  color: var(--very-dark-blue2);
  font-size: var(--fs-home);
  font-weight: 300;
  font-family: "Nunito Sans", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

/* body.dark-mode {
  background: var(--very-dark-blue1);
  color: var(--dark-blue);
} */

.dark-mode {
  background: var(--very-dark-blue1);
  color: var(--very-dark-blue2);
}

body.dark-mode header {
  background: var(--dark-blue);
  color: var(--white);
  box-shadow: 0px 0px 5px 2px rgba(54, 54, 54, 0.4);
}

header {
  background: var(--white);
  color: var(--very-dark-blue2);
  /* background: red; */
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.3);
  padding-inline: 0.8rem;
  padding-block: 1rem;
  margin-block-end: 1rem;
}

header .right-header {
  font-weight: 800;
}

header .left-header {
  border: none;
  background-color: inherit;
  padding-inline: 10px;
  padding-block: 5px;
  cursor: pointer;
}

body.dark-mode .left-header {
  background-color: inherit;
  color: var(--white);
}

.body {
  margin-block-start: 15px;
  margin-block-end: 20px;
}

.body .search {
  background-color: var(--white);
  justify-content: normal;
  align-items: center;
  padding-inline: 5px;
  padding-block: 3px;
  border-radius: 5px;
}

.body .search button {
  /* width: auto; */
  padding-inline: 12px;
  padding-block: 8px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  font-size: 12px;
}

body.dark-mode .search {
  background: var(--dark-blue);
  /* color: var(--white) */
}

.container input {
  background-color: inherit;
  padding: 10px;
  width: 100%;
}

body.dark-mode .search input {
  color: var(--white);
}

body.dark-mode .search input::placeholder {
  color: #ccc;
  font-size: 11px;
  font-weight: 300;
}

body.dark-mode .search button {
  color: var(--white);
}

/* Custom Select Button */
.custom-select {
  position: relative;
  margin-block: 1.5rem;
  padding: 8px;
  color: #070606;
  font-weight: 500;
  width: 50%;
  margin-inline-start: 1.2rem;

  border-radius: 4px;
  background-color: var(--white);
}

body.dark-mode .custom-select,
body.dark-mode .custom-select #dropdown-opt {
  color: #ccc;
  background-color: var(--dark-blue);
}

.custom-select #dropdown-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.custom-select #dropdown-opt {
  /* display: none; */
  position: absolute;
  top: 110%;
  right: 0;
  width: 100%;
  cursor: pointer;
  background-color: var(--white);
}

ul {
  list-style: none;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding: 8px;
  /* width: 100%; */
}

.main_body {
  width: 85%;
  margin-inline: auto;
}

.main {
  background-color: var(--white);
  margin-block-end: 2rem;
  border-radius: 7px;
}

.main-country {
  margin-block-end: 2rem;
}

body.dark-mode .main {
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
}

body.dark-mode .main-country {
  color: var(--very-light-gray);
}

img {
  width: 100%;
  object-fit: cover;
}

.main img {
  border-radius: 7px 7px 0 0;
}

button.left {
  outline: none;
  border: none;
  padding: 4px;
  /* background: #000; */
}

.body .flex input {
  border: none;
}

input:focus {
  outline: none;
}

#back-btn {
  padding-inline: 1.5rem;
  padding-block: 0.375rem;
  margin-inline-start: 0.5rem;
  margin-block-start: 2rem;
  margin-block-end: 4rem;
  background-color: var(--white);
  outline: none;
  border: none;
  box-shadow: 1px 0.5px 10px 2px rgba(0, 0, 0, 0.2);
}

body.dark-mode #back-btn {
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
}

.name {
  padding-block: 1rem;
}

.text {
  padding: 20px;
}

.text-first,
.text-second {
  padding-block-end: 2rem;
}

/* Loader */
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #5b6369; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10rem auto;
  text-align: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Error Handler */
.error-handler {
  width: 80%;
  height: 80%;
  margin: 10rem auto;
  text-align: center;
}

.error i {
  color: orangered;
  font-size: 3rem;
}

.error details {
  cursor: pointer;
}

/* Buttons */
.borders {
  display: grid;
}

.border-text {
  width: auto;
}
/* .country-space {
  width: 90%;
  margin-inline-start: auto;
} */

.border {
  padding: 7px;
  margin: 5px;
  width: 100px;
  background: var(--very-light-gray);
  border: 1px solid rgba(161, 150, 150, 0.4);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 300;
  color: var(--very-dark-blue2);
}

body.dark-mode .border {
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
  border: transparent;
}

@media (min-width: 37.5em) {
  header {
    padding-inline: 0rem;
  }

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-inline: auto;
  }

  .text {
    padding: 20px;
  }

  .body > .container {
    width: 40%;
    margin-inline: 0;
  }

  .body > .container:nth-child(2) {
    display: flex;
    justify-content: end;
    width: 18%;
  }

  .custom-select {
    margin-block: 1rem;
    padding: 8px;
  }

  .main_body {
    width: 90%;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
  }

  .main_body img {
    width: 100%;
    aspect-ratio: 2/1;
  }

  .main-country,
  .text-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-area {
    align-items: start;
  }

  .main-country img {
    width: 55%;
    aspect-ratio: 3/2;
  }

  .main-country .text {
    padding-inline-start: 3rem;
    /* width: 100%; */
    /* aspect-ratio: 3/2; */
  }

  .main-country .text-first {
    width: 45%;
    justify-content: flex-end;
  }

  .main-country .text-second {
    width: 48%;
    justify-content: flex-end;
  }
}

/* Desktop view (projects) */
/* 999.98px */
@media (min-width: 62.49875rem) {

}
